<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580710117652-7m3fs36jlef4mv1tdsnsith3g5vn1riv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580710117652-7m3fs36jlef4mv1tdsnsith3g5vn1riv</string>
	<key>API_KEY</key>
	<string>AIzaSyCmmy842hzjsroCviaBYIABupDcnnqf-Vc</string>
	<key>GCM_SENDER_ID</key>
	<string>580710117652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-d0c00</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-d0c00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580710117652:ios:40c12cbd72ce41f2639201</string>
</dict>
</plist>